<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435634788937-lp9o98oogpss4p3cc20kn4rv5e0d29ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435634788937-lp9o98oogpss4p3cc20kn4rv5e0d29ms</string>
	<key>API_KEY</key>
	<string>AIzaSyCoYJiHuxa3OUvJmPUyzuRL312LL96Eze8</string>
	<key>GCM_SENDER_ID</key>
	<string>435634788937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.oop.petserviceOopApp</string>
	<key>PROJECT_ID</key>
	<string>oop---project</string>
	<key>STORAGE_BUCKET</key>
	<string>oop---project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435634788937:ios:8920494dee71e9b9677d98</string>
</dict>
</plist>